@tailwind base;
@tailwind components;

.auth-popup {
    @apply absolute z-[100] inset-0 top-[20%] left-[50%] -translate-x-[50%] bg-[#353535] rounded-md shadow-customShadow w-max h-max px-10 py-6 flex flex-col gap-2 justify-center items-center animate-popup;
}

.form-inp {
    @apply px-3 py-[3px] bg-gray-200 text-black text-base font-medium outline-none rounded-md placeholder:text-gray-700;
}

.form-btn {
    @apply bg-green-400 text-black font-semibold px-3 py-0.5 rounded-md font-mono tracking-tighter;
}

@tailwind utilities;




.animate-popup {
    animation: pop-f-t .5s linear;
}

@keyframes pop-f-t {
    from {
        opacity: 0;
        top: 17%;
    } to {
        opacity: 1;
        top: 20%;
    }
}

.logout:hover > div {
    @apply opacity-100;
}